body{
    background: url('../img/2x1.jpg');
}
.news{
    display: inline-block;
    background: #dfe6e9;
    height: auto;
    width: 400px;
    padding: 20px 0;
    border: 3px groove #74b9ff;
    border-radius: 20px;
    margin: 10px;
}
.news_content{
    padding: 0 20px;
}
.more_button{
    color: #2d3436;
    background: #0984e3;
    border: 1px dashed #74b9ff;
}
.news_content h3{

}
h1{
    font-size: 50px;
    color: #0984e3;
}
.back{
    display: block;
    background: #dfe6e9;
    min-height: 250px;
    height: 100%;
    width: auto;
    padding: 10px 15px;
    margin: 10px;
    border: 3px groove #74b9ff;
    border-radius: 20px;
    text-align: center;
}
.back p{
    text-align: justify;
}
.back img{
    border-radius: 8px;
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 3px;
    width: 250px;
    margin: 5px;
}
.main_name{
    display: block;
    background: #dfe6e9;
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    border: 3px groove #74b9ff;
    border-radius: 20px;
    text-align: center;
}
