@font-face {
    font-family: 'Montserrat_regular';
    src: url('../fonts/Montserrat-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat_italic';
    src: url('../fonts/Montserrat-RegularItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat_bold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'IcoFont';
    src: url('../fonts/icofont.ttf') format("truetype");
    src: url('../fonts/icofont.woff') format("woff");
    src: url('../fonts/icofont.woff2') format("woff2");
}

b, strong{
    font-family: 'Montserrat_bold';
}
em, i{
    font-family: 'Montserrat_italic';
}
body{
    font-family: 'Montserrat_regular';
    background: linear-gradient(45deg, #dfe6e9, #C5DDE8);
}
hr{
    color: #192a56;
}
h1, h2, h6{
    font-family: 'Montserrat_bold';
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 1px 0 #747d8c;
}
h2{
    font-size: 35px;
}
h6{
    font-size: 15px;
    text-shadow: none;
}
.film{
    display: inline-block;
    margin: 10px;
    width: 400px;
    height: auto;
    background: linear-gradient(-45deg, #8395a7, #718093);
    overflow: hidden;
    border: 2px solid #273c75;
    border-radius: 12px;
    padding: 10px 0;
}
.film_name{
    font-family: 'Montserrat_bold';
    font-size: 20px;
    text-align: center;
    color: #192a56;
    margin-bottom: 5px;
    padding: 0 10px;
}
.film img{
    width: 100%;
}
.hover_img img:last-child {
  display: none;
}
.hover_img:hover img:last-child {
  display: block;
}
.hover_img:hover img:first-child {
  display: none;
}
.film_description{
    padding: 0px 10px;
}
.film_score{
    text-align: center;
    color: #ced6e0;
}
