.table_multiply th{
    background-color: #2980b9;
    color: #ecf0f1;
}
.table_multiply td{
background-color: #27ae60;
color: #2c3e50;
}
.table_multiply{
    background-color: #2ecc71;
}
.table_multiply caption{
    background-color: #ecf0f1;
}
