@font-face {
    font-family: 'Montserrat_regular';
    src: url('../fonts/Montserrat-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat_italic';
    src: url('../fonts/Montserrat-RegularItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat_bold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'IcoFont';
    src: url('../fonts/icofont.ttf') format("truetype");
    src: url('../fonts/icofont.woff') format("woff");
    src: url('../fonts/icofont.woff2') format("woff2");
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
b, strong{
    font-family: 'Montserrat_bold';
}
em, i{
    font-family: 'Montserrat_italic';
}
body{
    font-family: 'Montserrat_regular';
    background: linear-gradient(45deg, #dfe6e9, #C5DDE8);
}
hr{
    color: #192a56;
}
h1, h2, h6{
    font-family: 'Montserrat_bold';
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 1px 0 #747d8c;
    margin: 0;
}
.nav+h1{
    padding-top: 105px;
}
h2{
    font-size: 35px;
}
h6{
    font-size: 15px;
    text-shadow: none;
}
.top{
    text-align: center;
}
.film{
    display: inline-block;
    margin: 0 10px;
    width: 400px;
    height: auto;
    background: linear-gradient(-45deg, #8395a7, #718093);
    overflow: hidden;
    border: 2px solid #273c75;
    border-radius: 12px;
    padding: 10px 0;
}
.film_name{
    font-family: 'Montserrat_bold';
    font-size: 20px;
    text-align: center;
    color: #192a56;
    margin-bottom: 5px;
    padding: 0 10px;
}
.film img{
    width: 100%;
}
.hover_img img:last-child {
  display: none;
}
.hover_img:hover img:last-child {
  display: block;
}
.hover_img:hover img:first-child {
  display: none;
}
.film_description{
    text-align: left;
    padding: 0px 10px;
}
.film_score{
    text-align: center;
    color: #ced6e0;
}
.secret br+p{
    display: none;
}
.secret h6:hover+br{
    display: none;
}
.secret h6:hover+br+p{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}
.nav{
    min-height: 100px;
    height: auto;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: right;
    z-index: 10;
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
}
.nav .logo{
    float: left;
    height: 100px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    line-height: 100px;
    padding-left: 15px;
}
.nav .menu{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
}
.menu ul{
    list-style: none;
    padding: 25px 0;
}
.menu ul li{
    float: left;
}
.menu ul li ul li{
    text-align: center;
    float: none;
    padding: 5px 10px;
}
.menu ul li ul{
    position: absolute;
    background: rgba(0,0,0,0.7);
    display: none;
}
.menu ul li:hover ul{
    display: block;
}
.center{
    text-align: center;
}
.inline, .red{
    display: inline;
}
.red{
    background-color: red;
}
.type_me{
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    position: fixed;
    bottom: 45px;
    right: 45px;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
}
.film_image{
    position: relative;
}
.date{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 87px;
    height: 40px;
    background: rgba(45, 52, 54,0.8);
    z-index: 3;
    color: #8395a7;
    font-weight: bold;
}
.date_shadow{
    position: absolute;
    bottom: 3.5%;
    left: 2.7%;
    width: 87px;
    height: 40px;
    background: rgba(241, 242, 246,0.5);
    z-index: 2;
}
